<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Họ tên</th>
        <th scope="col">Địa chỉ</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Xóa</th>
        <th scope="col">Cập nhật</th>
      </tr>
    </thead>
    <!-- <tbody class="table-group-divider">
           <tr>
              <th scope="row">'.$i.'</th>
              <td>'.$row["name"][$i].'</td>'.
              '<td>'.$row["email"][$i].'</td>'.
              '<td>'.$row["phone"][$i].'</td>
          </tr>';
         
          
          <tr><th scope="row"></th>';
          
        
            <td>'.$value.'</td>';
          echo '</tr>';
        ?>
      
    </tbody> -->
  </table>