  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Ten </th>
        <th scope="col">Email</th>
        <th scope="col">Message</th>
        <th scope="col">Thá»i gian</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
      <tbody class="table-group-divider">
        <%data.lst.forEach((item)=>{%>
          <tr>
              <%for(let key in item){%>
                  <td><%=item[key]%></td>
              <%}%>    
          </tr>
      <%})%>
      </tbody>
  </table>
  