<form action="" method="post" style="margin: 0 20px 0 20px;">
     <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="formGroupExampleInput"value="<%=data.lst[0].username%>" placeholder="Title">
     </div>
     <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Email</label>
        <input type="text" name="email" class="form-control" id="formGroupExampleInput"value="<%=data.lst[0].email%>" placeholder="Category">
     </div>
     <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Password</label>
        <input type="text" name="password" class="form-control" id="formGroupExampleInput"value="<%=data.lst[0].password%>" placeholder="Password">
     </div>
     <div class="mb-3">
         <input type="submit" value="Nhấn vào để cập nhật" class="btn btn-primary">
     </div>
   </form>