<form action="" method="post" style="margin: 0 20px 0 20px;">
    <div class="mb-3">
       <label for="formGroupExampleInput" class="form-label">ID</label>
       <input type="text" name="ma" class="form-control" id="formGroupExampleInput" value="<%=data.lst[0].id%>" placeholder="Title">
    </div>
     <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Title</label>
        <input type="text" name="tieude" class="form-control" id="formGroupExampleInput"value="<%=data.lst[0].title%> placeholder="Title">
     </div>
     <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Category</label>
        <input type="text" name="category" class="form-control" id="formGroupExampleInput"value="<%=data.lst[0].category_id%>" placeholder="Category">
     </div>
     <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Content</label>
        <textarea name="content" id="formGroupExampleInput" value="" class="form-control"><%=data.lst[0].content%></textarea>
     </div>
     <div class="mb-3">
         <input type="submit" value="Nhấn vào để cập nhật" class="btn btn-primary">
     </div>
   </form>