<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"></div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href=""><i class="far fa-home-heart"></i> Trang chủ</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/account"><i class="fal fa-angle-right"></i> Tài khoản</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/categories"><i class="fal fa-angle-right"></i>Danh mục</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/posts"><i class="fal fa-angle-right"></i> Tin tức</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#"><i class="fal fa-angle-right"></i>Thông tin liên hệ</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#"><i class="fal fa-angle-right"></i> Status</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/login"><i class="fal fa-sign-out-alt"></i> Logout</a>
        </div>
    </div>
    <!-- Page content wrapper-->
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>