<!DOCTYPE html>
<html>
<head>
    <title>NewsFeed | Trang Chủ</title>
    <link rel="icon" type="image/png" href="images/logo.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/newsfeed/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/newsfeed/assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/newsfeed/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/newsfeed/assets/css/font.css">
    <link rel="stylesheet" type="text/css" href="/newsfeed/assets/css/li-scroller.css">
    <link rel="stylesheet" type="text/css" href="/newsfeed/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="/newsfeed/assets/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="/newsfeed/assets/css/theme.css">
    <link rel="stylesheet" type="text/css" href="/newsfeed/assets/css/style.css">
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="container">
        <header id="header">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_top">
                        <div class="header_top_left">
                            <ul class="top_nav">
                                <li><a href="/">Trang Chủ</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Danh sách danh mục <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <% categories.forEach(category => { %>
                                            <li class="dropdown-item">
                                                <a href="/categories/<%= category.id %>"><%= category.name %></a>
                                            </li>
                                        <% }); %>
                                    </ul>
                                </li>
                                <li><a href="#" onclick="showPopup()">Liên hệ</a></li>
                                <li><a href="/login">Đăng nhập</a></li>
                                <li><a href="/search">Tìm kiếm</a></li>
                            </ul>
                        </div>
                        <div class="header_top_right">
                            <p><%= new Date().toLocaleDateString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh' }) %></p>
                            <p>
                                <%= new Date().toLocaleDateString('vi-VN', { timeZone: 'Asia/Ho_Chi_Minh', weekday: 'long' }) %> ,
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="header_bottom">
                        <div class="logo_area">
                            <a href="/" class="logo">
                                <img src="/newsfeed/images/logo.jpg" alt="">
                            </a>
                        </div>
                        <div class="add_banner">
                            <a href="/">
                                <img src="/newsfeed/images/addbanner_728x90_V1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section id="navArea">
            <nav class="navbar navbar-inverse" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              </div>
              </div>
            </nav>
            <!-- form popup liên hệ-->
            <div id="popup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closePopup()">&times;</span>
                    <h2>Thông Tin Liên Hệ</h2>
                    <form id="contactForm">
                        <label for="name">Họ và Tên:</label>
                        <input type="text" id="name" name="name" required>
        
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
        
                        <label for="phone">Số Điện Thoại:</label>
                        <input type="text" id="phone" name="phone" required>
        
                        <label for="title">Tiêu đề</label>
                        <input type="text" id="title" name="title" required>
        
                        <label for="connect">Nội dung</label>
                        <textarea name="connect" id="connect" style="width: 560px; height: 150px;"></textarea>
                        
                        <button type="submit" style="background-color: rgb(208, 131, 207);">Gửi</button>
                    </form>
                </div>
            </div>
          </section>
    </div>
</body>
